* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;
}

img {
    width: 100%;
    vertical-align: middle;
}
/* Video fondo */
.wrapper {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.wrapper > video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

header {
    width: 100%;
    min-height: 100vh;
    background-color: black;
    opacity: 0.8;
    padding-left: 10em;
    
    padding-top: 20em; 
} 

header > div > h1 {
    color: white;
    font-weight: 900;
    font-size: 96px;
    line-height: 128px;
    letter-spacing: -2px;
    
}

header > p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 5px;
    color: white;
    opacity: 0.6;
}

a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 41px;
    letter-spacing: 0.25px;
    text-decoration: none;
    color: #FF6666;
}

/* Maquetación del Menú */
#menu {
    width: 100%;
    z-index: 1;
    position: fixed;
    padding-top: 2em;
    top:0;
}

#menu > a {
    font-family: Montserrat;
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.3em;
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
}

#menu > ul {
    height: 2em;
    padding: 0;
    display: flex;
    justify-content: center;
}

#menu > ul > li {
    list-style: none;
    padding-left: 2em;
    padding-right: 2em;
}

#menu > ul > li > a {
    color: white;
    letter-spacing: 0.2em;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    font-family: Montserrat;
    list-style: none;
    text-decoration: none;
}

/* ESTILOS PARA LA PÁGINA PRINCIPAL */

/* Maquetación general de las secciones */
section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 10em;
    padding-right: 10em;
    padding-bottom: 5em;
}

h1 {
    color: white;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 80px;
    letter-spacing: 0.05em;
    
}

h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 29px;
    letter-spacing: 0.2em;

    color: #000000;
}

p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 10x;
    letter-spacing: 0.44px;
    color: #F2F2F2;
    margin-top:2em;
}

/* Maquetación Quien */


#quien {
    /*background-color: rgba(196, 196, 196);*/
    background: #CC5252;
    display: flex;  
    align-items: center;
    justify-content: flex-end;
}

#quien > div {
    display: flex;
    align-items: flex-end;
}

#quien > div > div {
    flex: 50%;
}

#quien > div > div > figure  {
   display: flex;
   align-items: center;
   justify-content: center;
    
} 

#quien > div > div > figure > img {
    width: 70%;
}

#quien > div > div > h1 {
    color: white;
    padding-bottom: 1em;
    
}
#quien > div > div > p {
    color: #F2F2F2;
    margin-top:2em;
}

/* Maquetación Donde */

#donde {
    background: rgba(196, 196, 196, 0.2);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0 ;
}

#donde > div {
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

#donde > div > div > h1 {
    color: black;
    padding-bottom: 1em;
}

#donde > div > div > div > h2 {
    padding-top: 1em;
}

#donde > div > div > div > p {
    color: gray;
}

#donde > div > div > div > a {
    font-size: 0.9em;
}


#donde > div > div.mapa {
    position: relative;
    left: 10vw;
    /*transition duration 1seg*/
}

#donde > div > div > iframe {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF6666;
    padding: 4em;
    box-sizing: content-box;
    margin-left: 3em; 
}

/* Maquetación Expo */

#expo {
    background-color: #CC5252;
    display: flex;
    justify-content: center;
    align-items: flex-end;
} 

#expo > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#expo > div > div:last-child {
    width: 45%;
}

#expo > div > div > a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;

    letter-spacing: 0.3em;
    color: white;
    font-size: 0.7em;
    background: #FF6666;

     /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    padding: 0.5em;
    padding-left: 3em;
    padding-right: 3em;
    border-radius: 3px;
}

.galeria {
    width: 50%;
    overflow: hidden;
    position: relative;
}

.galeria > div {
    position: relative;
    left: 0;
    width: 300%;
    display: flex;
    transition-duration: 1s;
}

.galeria > div > figure {
    flex: 33%;
}

/* ESTILOS PARA LA PÁGINA EXPO */


#cabecera-expo {
    background-image: url(../img/Rectangle.png);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
}

#cabecera-expo > div.tipo {
    color: black;
    margin-top: 0;
    padding-bottom: 4em;
}

#cabecera-expo > div.tipo > p {
    color: black;
    margin-top: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 5px;
    opacity: 0.6;
}

#cabecera-expo > div.tipo > h1 {
    color: #CC5252;
    font-weight: 900;
    font-size: 96px;
    line-height: 128px;
    letter-spacing: -2px;
}

#cabecera-expo > div.menu2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#cabecera-expo > div.menu2 > a{ 
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;

    flex: 23%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
    border-radius: 4px;
    color: FF6666;
    padding: 1em;
    box-sizing: content-box;
    margin: 1em;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 0.9em;
    line-height: 24px;
    text-align: center;
    align-items: center;
    letter-spacing: 5px;

}
/*
.galeria {
    width: 90%;
    margin: 5em auto;
    display: flex;
    flex-wrap: wrap;
}
.galeria > figure {
    position: relative;
    padding: 3px;
    flex: 40%;
    padding: 3px;
}
.galeria > figure > img {
    width: 100%;
    vertical-align: middle;
    
}
.galeria > figure > figcaption {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.9em;
    opacity: 0;
    transition-duration: 0.5;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
/* or 150% */
/*    letter-spacing: 0.44px;

}
.galeria > figure:hover> figcaption{
    opacity: 1;
}*/