* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;
}

img {
    width: 100%;
    vertical-align: middle;
}


h1 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-weight: 900;
    font-size: 96px;
    line-height: 128px;
    letter-spacing: -2px;

}

h2 {
    color: white;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 80px;
    letter-spacing: 0.05em;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.2em;
    color: #000000;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.50px;
    color: #F2F2F2;
    margin-top:2em;
}

a {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 41px;
    letter-spacing: 0.25px;
    text-decoration: none;
    color: #FF6666;
}


/* MAQUETACIÓN DEL HEADER */

/* Video fondo */
.wrapper {
    position: absolute;
    top: 0;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    margin: auto;
}

.wrapper > video {
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0px;
    display: block;
    object-fit: cover;
}

header {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    background-color: black;
    opacity: 0.8;
    padding: 10%;
    padding-bottom: 5%;
} 

header > div > p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 5px;
    opacity: 0.6;
}

header > div > div > h1 {
    color: white;
}

strong {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}



/* MAQUETACIÓN DEL MENÚ */
#menu {
    width: 100vw;
    z-index: 1;
    position: fixed;
    padding-top: 2em;
    top:0;
    padding-bottom: 2em;
}

#menu > a {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.3em;
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
}

#menu > ul {
    height: 2em;
    padding: 0;
    display: flex;
    justify-content: center;
}

#menu > ul > li {
    list-style: none;
    padding-left: 2em;
    padding-right: 2em;
}

#menu > ul > li > a {
    color: white;
    letter-spacing: 0.2em;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-decoration: none;
    position: relative;
}

#menu > ul > li > a:after {
    position: absolute;
    bottom: 1px;
    left: 0px;
    width: 30%;
    height: 3px;
    background-color: white;
    content: "";
    opacity: 0;
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
    transform: translateY(20px);        
}

#menu > a:hover {
    color: #FF6666;
}

#menu > ul > li > a:hover {
    color: #FF6666;
}

#menu > ul > li > a:hover:after{
    opacity:1;
    transform: translateY(15px);
}

#menu > ul > li:first-child {
    display: none;
}

/* ESTILOS PARA LA PÁGINA PRINCIPAL */

/* Maquetación SECCIONES */
section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 10em;
    padding-right: 10em;
    padding-bottom: 4em;
}

/* Maquetación: Sección QUIEN */
#quien {
    background: #CC5252;
    align-items: center;
    justify-content: flex-end;
}

#quien > div {
    display: flex;
    align-items: flex-end;
    padding-bottom: 1.5em;
}

#quien > div > div {
    flex: 50%;
}

#quien > div > div > figure  {
   display: flex;
   align-items: center;
   justify-content: center;  
} 

#quien > div > div > figure > img {
    width: 70%;
}

#quien > div > div > h1 {
    color: white;
    padding-bottom: 1em;
    
}
#quien > div > div > p {
    color: #F2F2F2;
    margin-top:2em;
}

/*Maquetación: Sección DONDE */

#donde {
    background: #d6d6d6;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0 ;
}

#donde > div {
    display: flex;
    align-items: flex-end;
}

.info > h2 {
    padding-top: 1em;
    color: #CC5252;
}

.info > p {
    color: rgb(97, 96, 96);
}

.info > a {
    font-size: 0.9em;
}

.mapa2 {
    display: none;
}

.mapa {
    display: flex;
    position: relative;
    align-items: center;
    left: 30vw;
    padding: 0 0 0 1em; 
    padding-bottom: 0em;
}

.mapa > iframe {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF6666;
    padding: 4em;
    box-sizing: content-box;
}

#flecha {
    width: 10px;
    padding:0;
    left: 2em;
    position: relative;
    outline: none;
    transform: rotate(180deg); 
}

#flecha > p {
    font-weight: bold;
    font-size: 1.2em;
    color: black;
    text-decoration: none;
    margin: 0;
    
}

#flecha > p:hover{
    color:white;
    transform: scale(1.4, 1.4);
}


/* Maquetación: Sección EXPO */

#expo {
    background-color: #CC5252;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
} 

#expo > div {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 1.5em;
}

#expo > div > div:last-child {
    width: 50%;
}

#expo > div > div > p{
    padding-bottom: 3em;
} 

#expo > div > div > a {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.25em;
    color: white;
    font-size: 0.8em;
    background: #FF6666;
    padding: 0.8em 4em 0.8em 4em;
    border-radius: 3px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
}

#expo > div > div > a:hover {
    color: #FF6666;
    background: white;
}

.galeria {
    width: 45%;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
}

.galeria > div {
    position: relative;
    left: 0;
    width: 900%;
    display: flex;
    transition-duration: 1s;
}

.galeria > div > figure {
    flex: 99%;
}

#expo > div > div.galeria > div {
    width: 300%;
    position: relative;
    display: flex;
    animation: slider3 10s infinite; 
}


@keyframes slider3 {
    0% {
        left: 0;
    }

    25% {
        left: 0;
    }

    30% {
        left: -100%;
    }

    55% {
        left: -100%;
    }

    60% {
        left: -200%;
    }

    85% {
        left: -200%;
    }

    100% {
        left: 0;
    }
}


footer {
    background-color: #333333;
    font-family: 'Montserrat', sans-serif;
    padding: 4em;
    padding-bottom: 2em;
    padding-left: 10em;
    padding-right: 10em;
    color: white;
    font-size: 0.9em;
}

.copy {
    font-size: 0.7em;
    font-family: 'Montserrat', sans-serif;
    padding-top: 10em;
}

.direcciones1 > div > a > i {
    color: #FF6666; 
    
}

footer > div {
    display: flex;
    flex-wrap: wrap;
}

footer > div > div.direcciones1 {
    padding-right: 20em;
} 

footer > section > form {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em;
}

/*  MAQUETACIÓN PARA EXPO.HTML */


/* Segundo menú  */
  

    
#menu > a#dos {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.3em;
    display: flex;
    justify-content: center;
    color: black;
    text-decoration: none;
}
    
#menu > ul#tres > li > a {
    color: black;
}

#menu > a#dos:hover {
    color: #FF6666;
}

#menu > ul> li#expoOcultar {
    display: none;
}

#menu > ul#tres > li > a:hover {
    color: #FF6666;
}

#menu > ul#tres > li > a:after {
    position: absolute;
    bottom: 1px;
    left: 0px;
    width: 30%;
    height: 3px;
    background-color: black;
    content: "";
    opacity: 0;
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
    transform: translateY(20px);        
}

#menu > ul#tres > li > a:hover:after{
    opacity:1;
    transform: translateY(15px);
}




/*  Maquetación: Sección CABECERA-EXPO  */

#cabecera-expo {
    padding-top: 3em;
    background-color: #F2F2F2; 
    color: black;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#cabecera-expo > p {
    color: black;
    margin:0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 5px;
    opacity: 0.6;
    margin-bottom: -0.5em;
}

#cabecera-expo > h1 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    color: #CC5252;
    font-weight: 900;
    font-size: 96px;
    line-height: 128px;
    letter-spacing: -2px;
}

#menu > ul#tres > li#expoOcultar { 
    display: none;
}

.salasExpo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.salasExpo > a { 
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    flex: 23%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
    border-radius: 4px;
    color: white;
    padding: 1em;
    box-sizing: content-box;
    margin: 1em;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    line-height: 24px;
    text-align: center;
    align-items: center;
    letter-spacing: 5px;
}

.salasExpo > a:nth-child(1){
    background-image: url(../img/12MillionBlackVoices/1.jpg);
    margin-left: 0;
}

.salasExpo > a:nth-child(2){
    background-image: url(../img/LandoftheFree/1.jpg);
}

.salasExpo > a:nth-child(3){
    background-image: url(../img/Life/1.jpg);
    margin-right: 0;
}

.salasExpo > a:nth-child(4){
    background-image: url(../img/MigrantMother/1.jpg);
    margin-left: 0;
}

.salasExpo > a:nth-child(5){
    background-image: url(../img/PublicDefender/1.jpg);
}

.salasExpo > a:nth-child(6){
    background-image: url(../img/SanFranciscoStreets/1.jpg);
    margin-right: 0;
}

.salasExpo > a:nth-child(7){
    background-image: url(../img/TheFamilyofMan/1.jpg);
    margin-left: 0;
}

.salasExpo > a:nth-child(8){
    background-image: url(../img/WorkLate/1.jpg);
}

.salasExpo > a:nth-child(9){
    background-color: rgba(61, 61, 61);
    margin-right: 0;
}

.salasExpo > a:hover{
    color: #FF6666;
    transform: scale(1.1, 1.1);
}

/* Maquetación: Secciones GALERÍA EXPOSICIÓN*/

#millionsblackvoices, #publicdefender,#thefamilyofman, #life {
    background-color: #CC5252;
    padding-top: 4em;
}

#landofthefree, #migrantmother, #sanfranciscostreets, #worklate {
    background-color: rgb(83, 83, 83);
    padding-top: 4em;
}
#publicaciones {
    background-color: white;
    padding-top: 4em;
}

#landofthefree > h3 {
   color: white;
}

#migrantmother > h3 {
    color: white;
 }

 #sanfranciscostreets > h3 {
    color: white;
 }

 #worklate > h3 {
    color: white;
 }


.galeria1 {
    padding-top: 3em; 
    width: 100%;
    margin: 1em auto;
    display: flex;
    flex-wrap: wrap;
}

.galeria1 > figure {
    flex: 15%; 
    position: relative;
    margin: 0.3em;
    width: 270px;
    height: 270px; 
}


.galeria1 > figure > img {
    margin: 0;
    position: relative;
    vertical-align: middle;
    object-fit: cover;  
    width: 270px;
    height: 270px; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
    border-radius: 4px;   
}

.galeria1 > figure.customsize1 {
    height: 270px;
}

.galeria1 > figure.customsize1 > img {
    margin: 0;
    position: relative;
    vertical-align: middle;
    object-fit: cover; 
    width: 100%;
    height: 270px;
    border-radius: 4px;
}

.galeria1 > figure.customsize2{
    height: 550px;
}

.galeria1 > figure.customsize2 > img {
    width: 100%;
    height: 550px;
}

.galeria1 > figure.customsize3{
    height: 270px;
}

.galeria1 > figure.customsize3 > img {
    width: 100%;
    height: 270px;
}

.galeria1 > figure.customsize4{
    height: 350px;
    margin: 3em;
}

.galeria1 > figure.customsize4 > img {
    width: 100%;
    height: 350px;
}

.galeria1 > figure.customsize4 > h3 {
    letter-spacing: 0;
    padding-top: 1em;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    
}

.galeria1 > figure.customsize4 > p {
    color: rgb(121, 121, 121);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 15px;
    margin: 0;
}

.galeria1 > figure.customsize4 > a {
    font-size: 15px;
    display: flex;
    padding: 0;
}

#publicaciones > div {
    padding-top: 0;
}


.galeria1  > figure > figcaption {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 2em;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
    font-size: 0.9em;
    opacity: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 0.44px;
}

.galeria1 > figure:hover> figcaption {
    opacity: 1;
}

#modal {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
}

#modal > figure {
    width: 80%;
    max-width: 500px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
    border-radius: 4px;
    overflow: hidden;
}

#modal > figure > figcaption {
    background-color: white;
    color: rgb(71, 71, 71);
    width: 100%;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#cerrar {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em;
    font-size: 2em;
    font-weight: bold;
    color: white;
    font-family: 'Montserrat';
}

#cerrar:hover {
    color: #FF6666;
    cursor: pointer;
}
